*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: "微软雅黑", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.dis{
    display: none;
}
body{
    margin:auto;
}

.header{
    width: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index:999;
}
.header_con{
    width: 9.36rem;
    height: 1.173rem;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_con>a{
    display: block;
    width: 0.6rem;
    height: 0.5rem;
}
.header_con>a:nth-of-type(1){
    background: url("../img/arrow3.png") center no-repeat;
    -webkit-background-size: 0.267rem 0.467rem;
    background-size: 0.267rem 0.467rem;
}
.header_con>a:nth-of-type(2){
    background: url("../img/classify.png") center no-repeat;
    -webkit-background-size: 0.48rem 0.373rem;
    background-size: 0.48rem 0.373rem;
}
.header>ul>li{
    text-align: center;
    border-bottom: 0.013rem solid #ddd;
    background-color: white;
}
.header>ul>li>a{
    display: block;
    line-height: 1.2rem;
    font-size:0.36rem;
    color: #333;
}

/*main上*/
.main_top{
    width: 9.373rem;
    margin: 1.173rem auto 0;
}
.main_top>h2{
    font-size: 0.453rem;
    color: #333333;
    margin-bottom: 0.5rem;
}
.main_top>i{
    display: block;
    width: 9.373rem;
    height: 0.347rem;
    background: url("../img/ruler.png") left center;
    -webkit-background-size: 9.373rem 0.347rem;
    background-size: 9.373rem 0.347rem;
    margin-bottom: 0.4rem;
}
.main_top>h4{
    font-size: 0.373rem;
    color: #333333;
    margin-bottom: 0.48rem;
}
.main_top>p{
    font-size: 0.373rem;
    color: #666;
    margin-bottom: 0.88rem;
}
.main_top>p:nth-of-type(n+2){
    text-indent: 0.4rem;
}
.main_top>p>img{
    vertical-align: middle;
    width: 1.467rem;
    height: 0.827rem;
}

.main_center{
    width: 9.373rem;
    margin:auto;
    text-align: center;
}
.main_center>img{
    width: 9.373rem;
    height: 15.3rem;
}
.main_center>p{
    font-size: 0.347rem;
    color: #666666;
    text-align: left;
    text-indent: 0.44rem;
    width: 8.773rem;
}

.main_footer{
    width: 9.32rem;
    margin: 0.5rem auto 0;
}
.main_footer p{
    font-size: 0.373rem;
    color: #666666;
    margin-bottom: 0.26rem;
    text-indent: 0.3rem;
}
.other_one>p:nth-of-type(n+2){
    text-indent: 1.6rem;
}
.other>p:nth-of-type(n+2){
    text-indent: 1rem;
}
